@model RESERVA_RESTAURANT_PNT1.Models.Plato

@{
    ViewData["Title"] = "Borrar Plato";
}

<h1 class="text-center">Borrar Plato</h1>

<h4>Esta seguro de borrar este plato?</h4>
<div>
    <h5>Plato</h5>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Peso)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Peso)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Precio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Precio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TipoPlato)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TipoPlato)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Borrar" class="btn btn-danger" />
        <a class="btn btn-info" asp-action="Index">Volver</a>
    </form>
</div>
